body {
    font-family: Arial, sans-serif;
    background-color: #008C95; /* Pacific Teal */
    color: #fff; /* White */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 2rem;
    position: relative;
}

.logo {
    width: 500px; /* Increased size to 150px or adjust as needed */
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
}

.images a img {
    width: 200px;
    height: auto;
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 8px;
}

nav {
    position: relative;
}

.hamburger-menu {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: none;
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 999;
}

.nav-links li {
    margin: 0;
}

.nav-links li a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
}

.nav-links li a:hover {
    background-color: #444;
}

.nav-links.open {
    display: block;
}
